body {
    margin-top: 75px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
    margin: 50px 0;
}

div.example {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

div.release-note h3 {
	background-color: #e2e2e2;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
	padding: 10px;
}

div.article h3 {
    padding: 10px;
    background-color: #e2e2e2;
    color: #152935;
}

.article-title {
    background-color: #152935;
    color: grey;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
    font-size: 24px;
}

.article-title h1 {
    text-align: center;
    color: #f2f4f8;
}



#custom-search-input{
    margin-top:2px;
    padding: 0px;
    border: solid 0px #E4E4E4;
    border-radius: 0px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 1px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 1px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
}

table {
	font-size: 15px;
}
body {
	font-size: 18px;
	font-family: "Lato";
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Lato"
}

h3 {
	font-size: 18px;
    font-weight: bold;
}

h4 {
	font-size:25px;
}

div.center-block {
	float: none;
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
	font-size: 70%
}

code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px !important;
}

.prop-content > div.prop-row > hr {
    border-top: 1px dotted #B5B5B5;
    margin: 0px;
    padding: 4px 6px;
}

.prop-content > div.prop-row > h4 {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
    color: #008cba;
    text-decoration: none;
    margin-bottom: 0px;
    /* needed to make anchor links work properly */
    padding-top: 45px; 
    margin-top: -45px;
}

.prop-content > div.prop-row > h4 > a {

}

.prop-content > div.prop-row > p {
    font-size: 12px;
    font-family: "Lato";
    margin: 4px 0;
    display: block;
    /*color: #222222;*/
}

.prop-content > div.prop-row > p > strong {
    font-size: 16px;
    font-family: "Lato";
    margin: 2;
    display: inline;
}

.service-content > div#method-div > div.method-row > h4 {
    color: #008cba;
    text-decoration: none;
    font-family: "Lato";
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
    border-top: 1px dotted #B5B5B5;
    margin: 0px;
    padding: 4px 0px;

}

.prop-content > div.prop-row > ul > li {
    font-size:  12px;

}

.service-content > div#method-div > div.method-row > p {
    font-size: 12px;
    font-family: "Lato";
    margin: 4px 0;
    display: block;
    padding: 4px 0px;
}

.anchor-link {
   padding-top: 45px; 
   margin-top: -45px;
}


.deprecation-label {
    color: #FF0000;
    font-size: 18px;
    font-family: monospace;
}

.deprecated {
    background-image: linear-gradient(to right, rgba(255,0,0,0) , #FF9B9B);
    
    /*color: #FF9B9B;*/
    width:  100%;
}

.deprecated > h4 > a {
    color: #FF0000!important;
}

.deprecated > h1  {
    color: #FF0000!important;
}

