


body {
    margin-top: 75px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
    background-color: var(--Dark01);
    color: var(--Light02);
    font-size: 19px;
    font-family: "Lato";
}

footer {
    margin: 50px 0;
}

div.example {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
    background-color: var(--Dark02);
    border-color: var(--Dark02);
}


.example-summary {
    color: var(--Light01);
}

div.example h4 {
    font-weight: bold;
}

div.release-note h3 {
	background-color: var(--GrayDarkest);
    
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
	padding: 10px;
}

a {
    color: var(--Red);
}

div.release-note {
    background-color: var(--Dark02);
    color: var(--Light01);
    border-color: var(--Dark02);
}
div.article h3 {
    padding: 10px;
    background-color: #e2e2e2;
    color: #152935;
}

.panel {
    background: var(--Dark02);
    border-color: var(--Dark02);
    color: var(--Light02);
}

.reference-title {
    color: var(--Light01);
}

.reference-main {
    background-color: var(--Dark02);
}

.footer {
    color: var(--Light02);
    background-color: var(--Dark01);
}

.panel-default > .panel-heading {
    background: var(--GrayDarkest);
    border-color: var(--Dark02);
    color: var(--Light02);
}


.service-method-search {
    background-color: var(--Black);
}
.article-title {
    background-color: #152935;
    color: grey;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
    font-size: 24px;
}

.article-title h1 {
    text-align: center;
    color: var(--Teal);
}

.article {
    color: var(--Light02);
    background-color: var(--Dark02);
    border-color: var(--Dark02);
}

.main-top {
    color: var(--Light01);
}

#custom-search-input{
    margin-top:2px;
    padding: 0px;
    border: solid 0px #E4E4E4;
    border-radius: 0px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 1px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 1px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: var(--Dark03);
    border-bottom: 1px solid var(--Green);
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th  {
    background-color: var(--Dark01);
    border-bottom: 1px solid var(--Green);
}

table {
	font-size: 15px;
    background-color: var(--Black);
}

table > thead {
    border-bottom: 5px solid var(--Green);
}

blockquote {
    background-color: var(--Dark03);
}


h3 {
	font-size: 18px;
    font-weight: bold;
}

h4 {
	font-size:25px;
}

div.center-block {
	float: none;
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
	font-size: 70%
}

code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px !important;
    color: var(--Pink);
    background-color: var(--Dark03);
}

.prop-content > div.prop-row > hr {
    border-top: 1px dotted #B5B5B5;
    margin: 0px;
    padding: 4px 6px;
}

.prop-content > div.prop-row > h4 {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
    color: var(--Light01);
    text-decoration: none;
    margin-bottom: 0px;
    /* needed to make anchor links work properly */
    padding-top: 45px; 
    margin-top: -45px;
}

.prop-content > div.prop-row > h4 > a {

}

.prop-content > div.prop-row > p {
    font-size: 12px;
    font-family: "Lato";
    margin: 4px 0;
    display: block;
    /*color: #222222;*/
}

.prop-content > div.prop-row > p > strong {
    font-size: 16px;
    font-family: "Lato";
    margin: 2;
    display: inline;
}

.service-content > div#method-div > div.method-row > h4 {
    color: #008cba;
    text-decoration: none;
    font-family: "Lato";
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
    border-top: 1px dotted #B5B5B5;
    margin: 0px;
    padding: 4px 0px;

}

.prop-content > div.prop-row > ul > li {
    font-size:  12px;

}

.highlight > div.chroma  {
    display: table;
    
}

.highlight > pre {
    border-color: var(--Dark02);
    padding: 2px;
}

.service-content > div#method-div > div.method-row > p {
    font-size: 12px;
    font-family: "Lato";
    margin: 4px 0;
    display: block;
    padding: 4px 0px;
}

.anchor-link {
   padding-top: 45px; 
   margin-top: -45px;
}


.deprecation-label {
    color: #FF0000;
    font-size: 18px;
    font-family: monospace;
}

.deprecated {
    background-image: linear-gradient(to right, rgba(255,0,0,0) , #FF9B9B);
    
    /*color: #FF9B9B;*/
    width:  100%;
}

.deprecated > h4 > a {
    color: #FF0000!important;
}

.deprecated > h1  {
    color: #FF0000!important;
}


#header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: block;
    width: 95%;

}

#very-top {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    display: block;
    background: linear-gradient(to bottom,rgba(201,201,201,1) 0%,rgba(255,255,255,1) 100%);
}

#logo {
    float: left;
    padding: 14px 9px 7px 19px;
}

#menubar {
    background-color: var(--Dark01);
    color: #fff;
    border-bottom: 4px solid #701614;
}


#main #content .inner-content {
    padding-left: 25px;
    padding-right: 30px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
}



#title-category {
    font-size: 26px !important;
    line-height: 1;
    color: #000;
}

#title-full {
    font-size: 15px !important;
    background: url(/pretty/title-arrow.png) no-repeat;
    height: 30px;
    padding-left: 36px;
    padding-top: 6px;
    margin-left: 15px;
    margin-top: 6px;
}


#main-menu {
    clear: both;
}

#main-menu-links {
    padding: 1px 8px;
    font-size: 0.929em;
    margin: 0;
    color: #68696b;
}

#main-menu-links li {
    margin-right: 10px;
    float: left;
    list-style: none;
    padding: 0 1px;
    margin: 0 1px;
    display: list-item;
    text-align: -webkit-match-parent;
}

#main-menu-links a {
    color: #fff;
    background: none;
    float: left;
    height: 2.4em;
    line-height: 2.4em;
    padding: 0 0.8em;
    text-decoration: none;
    text-shadow: none;
}

#subhero-banner {
    color: #ffffff;
    font-family: "BentonSans Light";
    font-size: 35px;
    background: url(/pretty/subheader.jpg) no-repeat;
    background-position: right; 
    background-color: black;
    height: 95px;
}

#subhero-banner .navtext {
    padding: 20px 18px;
}

#subhero-banner .navtext div.sectionsep, #subhero-banner .navtext div.homelink, #subhero-banner .navtext div.sectionlink {
    float: left;
}
#subhero-banner .navtext div.sectionsep {
    font-size: 34px;
    margin-top: -4px;
    padding: 0 6px;
}
#subhero-banner .navtext a.sectionlink, #subhero-banner .navtext a.sectionlink:hover {
    color: #ffffff;
}
#subhero-banner .navtext div.sectionsep {
    font-size: 34px;
    margin-top: -4px;
    padding: 0 6px;
}

#main-wrapper {
    background-color: #FFFFFF;
    min-height: 300px;
    width: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#leftsidebar {
    float: left;
    background-color: var(--Dark02);
    max-height: 1500px;
    overflow: auto;
    width: 100%;

}
#leftsidebar .block {
    background-color: var(--Dark02);

}

#page-wrapper {
    background: none;
    width: 95% !important;
    margin: 0 auto;
    min-height: 100%;
    min-width: 960px;
}

#content {

    margin-bottom: 40px;
    margin-left: 5px;
    position: relative;
}


.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.prop-content {
    display: block;
    width: 49%;
    float: left;
    margin-right: 1%;
    overflow: auto; 
}

.type-label {
    font-size: 12px;
    color: #979797;
}
.type-content {
    display: inline;
    color: #000000;
}

.type-content p {
    margin: 0;
    display: inline;
}

.views-field-title {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14px;
}

.views-row {
    border-top: 1px dotted #B5B5B5;
    margin: 0px;
    padding: 4px 6px;

}
.views-field-body {
    font-size: 12px;
    margin: 4px 0;

}

#sldn-reference-tabs {
    display: block;
    height: 32px;
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0px;
    clear: both;
}

#sldn-reference-tabs li {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 178px;
} 
#sldn-reference-tabs li a:link, #sldn-reference-tabs li a:visited {
    display: block;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

#service {
    background-color: #6F9FBE;
}

#datatype {
    background-color: #6DAF36;
}

.list-row-title {
    font-size: 11px !important;
    word-wrap: normal;
    font-family: "BentonSans Regular" !important;
}


#sidebar-list {
    overflow-y: auto;
    /*overflow-x: auto;*/
    word-wrap: normal;
    padding: 0px 11px;
    color: var(--Light01);
}

.search-input-box {
    margin: 0px;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    background-color: var(--Dark01);
    color: var(--Blue);
    border-color: var(--Dark02);

}

.method-param-tr  {
    border-collapse: collapse;
    border: none;
    padding: 0.3em 0.9em;
    background-color: #eee;
    border-bottom: 2px solid #ccc;
}

#method-param-table {
    border-spacing: 0;
    font-size: 1.2em;
    margin: 10px 0;
    width: 75%;
    border-collapse: collapse;
    border: none;
}

.zeroPad {
    padding-left: 0px;
    padding-right: 0px;
}


.container {
    min-width: 1000px;
}

.nav-container {
    width: 70%;
    min-width: 1000px;
    margin: auto;
    height: 45px;
}

.navbar-nav li {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 8%;
    border: 0 0;
    overflow: hidden;

}

