body {
    margin-top: 75px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
    margin: 50px 0;
}

div.example {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

div.release-note h3 {
	background-color: #e2e2e2;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
	padding: 10px;
}


#custom-search-input{
    margin-top:2px;
    padding: 0px;
    border: solid 0px #E4E4E4;
    border-radius: 0px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 1px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 1px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
}

table {
	font-size: 15px;
}
body {
	font-size: 18px;
	font-family: "Lato";
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Lato"
}
h3 {
	font-size: 18px;
}

h4 {
	font-size:25px;
}

div.center-block {
	float: none;
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
	font-size: 70%
}

code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px !important;
}
