:root {
  --Dark01: #161616;
  --Dark02: #525252;
  --Dark03: #333333;
  --GrayDarkest: #586e75;
  --GrayDark: #657b83;
  --GrayMid: #839496;
  --GrayLight: #93a1a1;
  --Light01: #eee8d5;
  --Light02: #bdbdc7;
  --Red: #f77e7c;
  --Orange: #cb4b16;
  --Yellow: #b58900;
  --Green: #859900;
  --Teal: #2aa198;
  --Blue: #268bd2;
  --Purple: #6c71c4;
  --Pink: #d33682;
  --Black: #000000;
  --White: #FFFFFF;
}