:root {
  --Dark01: #FFFFFF;
  --Dark02: #fafafa;
  --Dark03: #c4c2c2;
  --GrayDarkest: #FFFFFF;
  --GrayDark: #FFFFFF;
  --GrayMid: #FFFFFF;
  --GrayLight: #FFFFFF;
  --Light01: #999999;
  --Light02: #3d3c3c;
  --Red: #008cba;
  --Orange: #FFFFFF;
  --Yellow: #FFFFFF;
  --Green: #FFFFFF;
  --Teal: #FFFFFF;
  --Blue: #FFFFFF;
  --Purple: #FFFFFF;
  --Pink: #c7254e;
  --Black: #000000;
  --White: #FFFFFF;
}