@font-face{
    font-family:"BentonSans Light";
    /*src:url("https://gp1.wac.edgecastcdn.net/001AC1/webtype/ff/3/798f2972-322f-42d0-a799-768cae0dccae") */
    src:url("/pretty/BentoSansLight")
    format("woff");
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family:"BentonSans Regular";
    /*src:url("https://gp1.wac.edgecastcdn.net/001AC1/webtype/ff/3/52d5e8ed-e3b8-4540-a100-5867ba0ee484") */
    src:url("/pretty/BentoSansReg")
    format("woff");
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family:"BentonSans Bold";
    /*src:url("https://gp1.wac.edgecastcdn.net/001AC1/webtype/ff/3/00bda904-77e7-4185-85ac-e9973fd08d60") */
    src:url("/pretty/BentoSansBold")
    format("woff");
    font-style:normal;
    font-weight:bold;
}
@font-face{
    font-family:"BentonSansCond Regular";
    /*src:url("https://gp1.wac.edgecastcdn.net/001AC1/webtype/ff/3/53350d66-7754-44c7-a7d2-8c7449d1aede") */
    src:url("/pretty/BentonSansCondReg")
    format("woff");
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family:"BentonSansCond Bold";
    /*src:url("https://gp1.wac.edgecastcdn.net/001AC1/webtype/ff/3/d19fd21a-aaa4-4a79-a1f0-d23946e2226c") */
    src:url("/pretty/BentonSansCondBold")
    format("woff");
    font-style:normal;
    font-weight:bold;
}



