@font-face{
    font-family:"BentonSans Light";
    /*src:url("https://gp1.wac.edgecastcdn.net/001AC1/webtype/ff/3/798f2972-322f-42d0-a799-768cae0dccae") */
    src:url("/pretty/BentoSansLight")
    format("woff");
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family:"BentonSans Regular";
    /*src:url("https://gp1.wac.edgecastcdn.net/001AC1/webtype/ff/3/52d5e8ed-e3b8-4540-a100-5867ba0ee484") */
    src:url("/pretty/BentoSansReg")
    format("woff");
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family:"BentonSans Bold";
    /*src:url("https://gp1.wac.edgecastcdn.net/001AC1/webtype/ff/3/00bda904-77e7-4185-85ac-e9973fd08d60") */
    src:url("/pretty/BentoSansBold")
    format("woff");
    font-style:normal;
    font-weight:bold;
}
@font-face{
    font-family:"BentonSansCond Regular";
    /*src:url("https://gp1.wac.edgecastcdn.net/001AC1/webtype/ff/3/53350d66-7754-44c7-a7d2-8c7449d1aede") */
    src:url("/pretty/BentonSansCondReg")
    format("woff");
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family:"BentonSansCond Bold";
    /*src:url("https://gp1.wac.edgecastcdn.net/001AC1/webtype/ff/3/d19fd21a-aaa4-4a79-a1f0-d23946e2226c") */
    src:url("/pretty/BentonSansCondBold")
    format("woff");
    font-style:normal;
    font-weight:bold;
}

/*body {
    font-family: "BentonSans Regular" !important;
    line-height: 1.5;
    font-size: 87.5%;
    word-wrap: break-word;
    color: #3b3b3b;
    background-color: #2b2b2b;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}*/

/*a, a:link, a:visited, a:hover {
    color: #972f2c;
    text-decoration: none;
}
*/

/*ul.menu {
    border: none;
    list-style: none;
    text-align: left;
}*/

#header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: block;
    width: 95%;

}

#very-top {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    display: block;
    background: linear-gradient(to bottom,rgba(201,201,201,1) 0%,rgba(255,255,255,1) 100%);
}

#logo {
    float: left;
    padding: 14px 9px 7px 19px;
}

#menubar {
    background-color: #1b1b1b;
    color: #fff;
    border-bottom: 4px solid #701614;
}

#main {

}

#main #content .inner-content {
    padding-left: 25px;
    padding-right: 30px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
}



#title-category {
    font-size: 26px !important;
    line-height: 1;
    color: #000;
}

#title-full {
    font-size: 15px !important;
    background: url(/pretty/title-arrow.png) no-repeat;
    height: 30px;
    padding-left: 36px;
    padding-top: 6px;
    margin-left: 15px;
    margin-top: 6px;
}


#main-menu {
    clear: both;
}

#main-menu-links {
    padding: 1px 8px;
    font-size: 0.929em;
    margin: 0;
    color: #68696b;
}

#main-menu-links li {
    margin-right: 10px;
    float: left;
    list-style: none;
    padding: 0 1px;
    margin: 0 1px;
    display: list-item;
    text-align: -webkit-match-parent;
}

#main-menu-links a {
    color: #fff;
    background: none;
    float: left;
    height: 2.4em;
    line-height: 2.4em;
    padding: 0 0.8em;
    text-decoration: none;
    text-shadow: none;
}

#subhero-banner {
    color: #ffffff;
    font-family: "BentonSans Light";
    font-size: 35px;
    background: url(/pretty/subheader.jpg) no-repeat;
    background-position: right; 
    background-color: black;
    height: 95px;
}

#subhero-banner .navtext {
    padding: 20px 18px;
}

#subhero-banner .navtext div.sectionsep, #subhero-banner .navtext div.homelink, #subhero-banner .navtext div.sectionlink {
    float: left;
}
#subhero-banner .navtext div.sectionsep {
    font-size: 34px;
    margin-top: -4px;
    padding: 0 6px;
}
#subhero-banner .navtext a.sectionlink, #subhero-banner .navtext a.sectionlink:hover {
    color: #ffffff;
}
#subhero-banner .navtext div.sectionsep {
    font-size: 34px;
    margin-top: -4px;
    padding: 0 6px;
}

#main-wrapper {
    background-color: #FFFFFF;
    min-height: 300px;
    width: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#leftsidebar {
    float: left;
    background-color: #efefef;
    max-height: 1500px;
    overflow: auto;
    width: 100%;

}
#leftsidebar .block {
    background-color: #E2E2E2;

}

#page-wrapper {
    background: none;
    width: 95% !important;
    margin: 0 auto;
    min-height: 100%;
    min-width: 960px;
}

#content {

    margin-bottom: 40px;
    margin-left: 5px;
    position: relative;
}


.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.prop-content {
    display: block;
    width: 49%;
    float: left;
    margin-right: 1%;
    overflow: auto; 
}

.type-label {
    font-size: 12px;
    color: #979797;
}
.type-content {
    display: inline;
    color: #000000;
}

.type-content p {
    margin: 0;
    display: inline;
}

.views-field-title {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14px;
}

.views-row {
    border-top: 1px dotted #B5B5B5;
    margin: 0px;
    padding: 4px 6px;

}
.views-field-body {
    font-size: 12px;
    margin: 4px 0;

}



#sldn-reference-tabs {
    display: block;
    height: 32px;
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0px;
    clear: both;
}

#sldn-reference-tabs li {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 178px;
} 
#sldn-reference-tabs li a:link, #sldn-reference-tabs li a:visited {
    display: block;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

#service {
    background-color: #6F9FBE;
}

#datatype {
    background-color: #6DAF36;
}

.list-row-title {
    font-size: 11px !important;
    word-wrap: normal;
    font-family: "BentonSans Regular" !important;
}


#sidebar-list {
    overflow-y: auto;
    /*overflow-x: auto;*/
    word-wrap: normal;
    padding: 0px 11px;
}

.search-input-box {
    margin: 0px;
    float: left;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;

}
#edit-combine {
    margin: 0px;
    border: 1px solid #ccc;
    font-family: "BentonSans Regular" !important;
    font-size: 0.929em;
    padding: 10px;
    vertical-align: middle;

}

.view-filters {
    background-color: #eeeeee;
    padding: 15px 10px;
    border-bottom: 1px dotted #B5B5B5;
}

.method-param-tr  {
    border-collapse: collapse;
    border: none;
    padding: 0.3em 0.9em;
    background-color: #eee;
    border-bottom: 2px solid #ccc;
}

/*tr.odd {

    background: rgba(100,100,100,0.5);
}

tr.even {

    background: rgba(0,0,0,0.063);

}*/

#method-param-table {
    border-spacing: 0;
    font-size: 1.2em;
    margin: 10px 0;
    width: 75%;
    border-collapse: collapse;
    border: none;
}

.zeroPad {
    padding-left: 0px;
    padding-right: 0px;
}
