{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-9">
                <strong>Items with tag <code>{{ if .IsNode}} {{substr .Title 0 -1 | lower}}{{end}}</code></strong>
                    {{ range .Data.Pages }}
                        {{ .Render "summary" }}
                    {{ end}}
        </div>
        <!-- Sidebar -->
        <div class="col-md-3">
        {{ partial "menu.html" . }}
        </div>
    </div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
