{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="well well-sm">
                    <h3>{{ .Title }}<br> <small>{{ .Description }}</small></h3>
                    <hr>
                    {{ if in .Params.tags "deprecated" }}
                <div class="alert alert-info alert-dismissable" style="margin-top:25px;margin-bottom:5px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Hey, listen!</strong><br>
                This example contains deprecated methods or syntax and needs to be updated. Please use caution when using.
            </div>

                    {{ end }}

                    {{ .Content }}

            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="well well-sm"> <!-- Post-specific stats -->
                <h4>{{ .Date.Format "January 2, 2006" }}<br>
                </h4>
                <hr>
                <strong>Classes</strong>
                <ul class="list-unstyled">
                {{ range .Params.classes }}
                    <li><a href="/classes/{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
                </ul>
                <hr>
                <strong>Tags</strong><br>
                {{ range .Params.tags }}<a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
            </div>
            {{ partial "menu.html" . }}
        </div>
    </div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
