<div class="panel panel-default">
    <div class="panel-heading" style="padding: 2px 15px;">
        <h4>More Documentation</h4>
    </div>
    <div class="panel-body">
        <a href="http://sldn.softlayer.com/reference/softlayerapi"><i class="fa fa-link"></i> SoftLayer API Reference<br></a>
        <a href="https://github.com/softlayer/softlayer-java"><i class="fa fa-github"></i> softlayer-java<br></a>
        <a href="https://github.com/softlayer/softlayer-api-perl-client"><i class="fa fa-github"></i> softlayer-perl<br></a>
        <a href="https://github.com/softlayer/softlayer-api-php-client"><i class="fa fa-github"></i> softlayer-php<br></a>
        <a href="https://github.com/softlayer/softlayer-python"><i class="fa fa-github"></i> softlayer-python<br></a>
        <a href="https://github.com/softlayer/softlayer-ruby"><i class="fa fa-github"></i> softlayer-ruby<br></a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading text-center" style="padding: 2px 15px;">
      <a href="http://www.facebook.com/Softlayer"><i class="fa fa-facebook-square" alt="facebook"></i> </a>
      <a href="http://www.twitter.com/SoftLayer"><i class="fa fa-twitter" alt="twitter"></i> </a>
      <a href="http://www.linkedin.com/company/softlayer-technologies-inc." alt="linked-in"><i class="fa fa-linkedin-square"></i> </a>
      <a href="https://github.com/softlayer"><i class="fa fa-github" alt="github"></i> </a>
      <a href="irc://irc.freenode.net/softlayer"><i class="fa fa-comment" alt="irc"></i> </a>
    </div>
</div>
