    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4>More Documentation</h4>
        </div>
        <div class="panel-body center-block">
            <ul style="list-style-type: none;">
                <li><a href="https://softlayer-python.readthedocs.org/en/latest/index.html">softlayer-python</a></li>
                <li><a href="https://softlayer.github.io/softlayer-ruby/">softlayer-ruby</a></li>
                <li><a href="http://sldn.softlayer.com/reference/overview">API Reference</a></li>
            </ul>
            <br><a href="https://github.com/SoftLayer/" style="width: 40px" class="btn btn-primary btn-xs center-block"><i class="fa fa-github-square fa-2x"></i></a>
        </div>
    </div>
