    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    {{ range .Site.Menus.sections }}
                        <li><a href="{{.URL}}">{{ .Name }}</a></li>
                    {{ end }}

                    <!--
                    And here is where you'd add more links to sections, or anywhere you like.
                    <li><a href="#">About Me</a></li>
                    -->
                    <li>
                      <form method="get" action="http://www.bing.com/">
                        <div style="padding:4px;width:20em;">
                          <table border="0" align="center" cellpadding="0">
                            <tr>
                              <td>
                                <input type="text"   name="q" size="25" style="color:#808080;"
                                maxlength="255" value="Bing site search"
                                onfocus="if(this.value==this.defaultValue)this.value=''; this.style.color='black';" onblur="if(this.value=='')this.value=this.defaultValue; "/>
                                <input type="submit" value="Go!" />
                                <input type="hidden" name="q1" value="site:ibm.com" />
                              </td>
                            </tr>
                          </table>
                        </div>
                      </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
